htdocs/assets
htdocs/composer.lock
htdocs/.buildpath
htdocs/.project
htdocs/.settings
htdocs/.env
logs
nbproject
htdocs/nbproject
htdocs/vendor
silverstripe-cache
silverstripe.log
fulltextsearch-localsolr
htdocs/vendor
htdocs/resources
htdocs/fulltextsearch-localsolr
mysql
application/htdocs/.editorconfig
application/htdocs/.env.example
.DS_Store