htdocs/assets
htdocs/composer.lock
htdocs/.buildpath
htdocs/.project
htdocs/.settings
htdocs/.env
logs
nbproject
htdocs/nbproject
silverstripe-cache
silverstripe.log
fulltextsearch-localsolr
htdocs/resources
mysql
application/htdocs/.editorconfig
application/htdocs/.env.example
