.about {
  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  // left: 0;
  // right: 0;
  // margin: auto;
  // margin-top: 35px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px;
}

.about__text {
  font-size: 24px;
  font-weight: lighter;
  &:last-child {
    margin-bottom: 0;
  }
}

.about__title {
  font-size: 18px;
  letter-spacing: 4px;
}

.about__title,
.about__subtitle {
  text-transform: uppercase;
  font-weight: normal;
}

.about__subtitle {
  position: relative;
  margin-bottom: 70px;
  letter-spacing: 10px;

  &:after {
    content: ' ';
    display: block;
    height: 5px;
    width: 80px;
    background: linear-gradient(to right, #ff9e75 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.about__person {
  text-transform: uppercase;
  margin-bottom: 15px;
}

.about__person__image {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 50px auto 0;
  display: block;
  margin-bottom: 15px;
}

.about__person__text {
  display: block;
}

.about__video {
  opacity: 0;
  position: absolute;
  bottom: -200px;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 500ms ease;
  width: 800px;
  max-width: 100%;
  padding: 0 15px;
  visibility: hidden;
  z-index: 22;

  &.is-active {
    bottom: 105px;
    opacity: 1;
    visibility: visible;

    & + .about__video__close {
      opacity: 1;
      transform: translate3d(0,0,0);
      visibility: visible;
    }
  }
}

.about__video__close {
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  outline: none;
  top: -100px;
  right: 20px;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 300ms ease;
  visibility: hidden;

  &:before,
  &:after {
    content: ' ';
    height: 3px;
    width: 30px;
    display: block;
    background-color: black;
    background: linear-gradient(to right, #ff9e75 0%, #000 100%);
    right: 400px;
    transform: translate3d(0, 15px, 0) rotate(45deg);
  }

  &:after {
    background: linear-gradient(to right, #ff9e75 0%, #000 100%);
    transform: translate3d(0, -13px, 0) rotate(-45deg);
    margin-top: 25px;
  }
}

.about__video-wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.about__video__btn {
  border: 0;
  border-radius: 8px;
  background: linear-gradient(to right, #ff9e75 0%,#000000 100%);
  height: 30px;
  width: 45px;
  color: white;
  font-family: 'times new roman', arial;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  padding-left: 10px;
}
