.homepage__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%) scale(1);
  margin: auto;
  text-align: center;
  transition: all 800ms ease;

  a {
    display: inline-block;
  }

  body:not(.viewing-page-1) &{
    transform: scale(0.7) translateY(-150%);
    opacity: 0.5;
  }
}

.homepage__logo {
  width: 100%;
  padding: 0 15px;
  max-width: 250px;
  display: block;
}

.homepage__title {
  max-width: 400px;
  margin: 0 auto;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  margin-top: 20px;

  @include respond(md) {
    font-size: 40px;
  }
}
