.full-height-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  transform-style: preserve-3d;
}

.full-height {
  height: 100%;
  display: block;
  padding: 0;
  width: 100%;
}

.full-height__section {
  width: 100%;
  height: 100%;
}

.full-height__bg {
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center center;
  /*Need transform for glitch*/
  transform: translate3d(0,0,0);
  top: 0;
  left: 0;
  transition: all 1000ms ease;
  /*Need for text glitch*/
  z-index: -1;

  body:not(.viewing-page-1):not(.scroll-loading) & {
      &--page-1 {
        transform: translate3d(0, 100%, 0);
      }
  }

}
