$transition: all 600ms ease;

.header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 1;
}

.header__bar {
  position: fixed;
  top: -70px;
  height: 70px;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  left: 0;
  transition: $transition;
  z-index: 2;

  body:not(.viewing-page-1) & {
    top: 0;
    background-color: rgba(255,255,255,0.5);
  }
}

.header__logo {
  position: absolute;
  top: 10px;
  left: 20px;
  width: auto;
  height: 50px;
  display: block;
  z-index: 2;
  transition: $transition;

  .header.is-open & {
    opacity: 0;
  }
}

.header__burger {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 3;

  span,
  &:before,
  &:after {
    height: 3px;
    width: 100%;
    display: block;
    background-color: black;
    position: absolute;
    transition: all 300ms ease;
  }

  &:before,
  &:after {
    content: ' ';
  }

  &:after {
    top: 28px;
  }

  span{

    &:nth-child(1) {
      top: 7px;
    }

    &:nth-child(2) {
      top: 14px;
    }

    &:nth-child(3) {
      top: 21px;
    }
  }

  .header.is-open & {

    span {
      opacity: 0;
    }

    &:before {
      transform: translate3d(0,15px,0) rotate(45deg);
      background: linear-gradient(to right, #ff9e75 0%,#000000 100%,); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    &:after {
      transform: translate3d(0,-13px,0) rotate(-45deg);
      background: linear-gradient(to right, #ff9e75 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

  }

}

.header__block {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 100px 15px 50px;
  top: -100px;
  transition: all 600ms ease;
  opacity: 0;
  z-index: -10;

  &:before {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 0;
    transition: all 600ms ease;
    width: 100%;
    background-color: white;
    z-index: -2;

    @include respond(md) {
      position: absolute;
    }
  }

  .header.is-open & {
    top: 0px;
    bottom: 0;
    opacity: 1;
    z-index: 1;
    overflow-y: scroll;
    position: fixed;
    height: auto;

    &:before {
      height: 100%;
    }

    @include respond(md) {
      position: relative;
      overflow-y: auto;
    }
  }

  @include respond(md) {
    position: absolute;
    height: 0;
  }
}

.header__block__logo {
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  opacity: 0;
  transition: $transition;
  visibility: hidden;

  .header.is-open & {
    visibility: visible;
    opacity: 1;
  }

  @include respond(md) {
    width: 200px;
  }
}

ul.header__nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  transform: translateY(-75px);
  transition: $transition;
  position: relative;
  z-index: -1;

  .header.is-open & {
    transform: translateY(-30px);
    z-index: 1;
  }

  li.header__nav__item {
    display: block;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 1px;
    transition: $transition;

    .is-open & {
      transform: translate3d(0, 30px, 0);
    }

    @include respond(md) {
      display: inline-block;
      position: relative;

      &:after {
        content: ' ';
        height: 14px;
        position: absolute;
        background-color: black;
        top: 6px;
        //transform: translateY(0);
        right: 0;
        width: 1px;
      }

      &:last-child:after {
        content: none;
      }
    }

    .is-open & {

      &:nth-child(2) {
        transition-delay: 100ms;
        //transform: translateY(25px);
      }

      &:nth-child(3) {
        transition-delay: 200ms;
        //transform: translateY(30px);
      }

      &:nth-child(4) {
        transition-delay: 300ms;
        //transform: translateY(35px);
      }

      &:nth-child(5) {
        transition-delay: 400ms;
        //transform: translateY(40px);
      }

      &:nth-child(6) {
        transition-delay: 500ms;
        //transform: translateY(45px);
      }
    }
  }

  a {
    color: black;
    transition: text-decoration 300ms ease-in-out;
    visibility: hidden;
    transition: $transition;

    &:hover {
      text-decoration: none;
      //text-shadow: 0px 1px 0px #000000;
    }

    .header.is-open & {
      font-size: 16px;
      visibility: visible;
    }
  }
}
