
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
  //src: local('Open Sans'), local('OpenSans'), url(''https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'') format('woff');
}
