//COLOURS
$palette: ();

//FONT
$font-family: sans-serif;
$font-family--alt: sans-serif;
$font-family--icon: 'iconfont', sans-serif;
$brand-font-family: 'open sans', arial, sans-serif;

//ICON FONT
$icons: ();
